{% extends 'base.html'%} {% block title %}Home-LinkBook{% endblock %} {%block content%}
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <div>
        This webApp is Under development!
    </div>
</div>
<br>
<!-- <h3 style="text-align:center;"></h3> -->

<div class="container ">
    <div class="alert alert-success" role="alert" style="width:60%;">
        Store your <b>links</b> here,and <b>access</b> them <b>Globaly</b> with a little authentication <b>!!</b>
    </div><br>
    <h3 class="p">Screenshots :)</h3><br>
    <p>Profile--</p>
    <img src="static/q.png" alt="" class="my-3 mx-5">
    <hr>
    <p>adding new links..</p>
    <img src="static/r.png" alt="" class="my-3 mx-5">
    <hr>
    <p>updating books..</p>
    <img src="static/s.png" alt="" class="my-3 mx-5">
    <hr>
    <p>updating links..</p>
    <img src="static/t.png" alt="" class="my-3 mx-5">
    <img src="static/Capture4.png" alt="" class="my-3 mx-5"></div> {%endblock%}
