{% extends 'base.html'%} {% block title %}LogIn-LinkBook{% endblock %} {%block content%}


<br>




<img src="static/12.png" alt="" width="380px" height="140px">
<form action="/login" style="display:inline-block;margin-left:30px;width:80%;" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name="password">
    </div>
    <button type="submit" class="btn btn-primary">Go In</button>
</form>


{%endblock%}