{% extends 'after_logedin.html'%} {% block title %}Update Link-LinkBook{% endblock %} {%block content%}

<div class="div1" style="position:relative;height:120px;background-color: rgb(187, 175, 97);">
    <div class="div2" style="position:absolute;bottom:10px;right:10px;">
        <a href="/logout" type="button" class="btn btn-warning">Logout</a>
        <a href="/profile" type="button" class="btn btn-warning">Profile</a>
    </div>
    <img src="../../static/d.png" alt="" width="50px" height="50px" style="position:absolute;top:16px;left:15px;">
    <span class="" style="font-size:120%;color:white;position:absolute;top:20px;left:64px;"><b>{{email}}</b></span>
    <span class="" style="font-size:120%;color:white;position:absolute;top:45px;left:64px;">Book Name : <b>{{sub}}</b></span>

</div>







<!-- <div class="alert alert-dark" role="alert">
    <a href="/logout" type="button" class="btn btn-primary">Logout</a>
    <a href="/profile" type="button" class="btn btn-primary">Profile</a> {{email}}&nbsp&nbsp&nbsp&nbsp

    <h4 style="display:inline-block;"> {{sub}} </h4>

</div> -->

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Update your links here!</strong> You should check in on some of those fields below.
</div>
<form action="/updatel/{{data.sno}}/{{sub}}" style="display:inline-block;margin-left:30px; width:80%;" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Link</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Link of the site" required name="link" value="{{data.link}}">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Title</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter content" required name="title" value="{{data.title}}">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Content</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter description" required name="content" value="{{data.content}}">
    </div>

    <button type="submit" class="btn btn-primary">UpdateLink</button>
</form>


{%endblock%}